.destacados{
    color: black;
    text-align: center;
    text-decoration: double;
  }

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .producto,
    .producto1,
    .producto2{
        @include determ(300px,300px,white);
      margin: 10px;
      border-radius: 10px;
      border: 2px solid;
      padding: 10px;
      padding-bottom: 50px;
      position: relative;
    img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
    &:hover{
    opacity: 0.8;
    transform: scale(1.05);
    }
      
  }
  
    h3{
    text-align: center;
    margin: 10px 0;
  }
  
    p{
    padding: 10px;
  }
  
    button{
    @extend %btn;
    background-color: map-get($colores, color1);
    color: map-get($colores, color);
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
  }
  
    }
  }
  
